@model IEnumerable<StoreYx.Models.Page>

@{
    ViewData["Title"] = "单页管理";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>


    <div class="btn-toolbar mb-2 mb-md-0">

        <a asp-action="Create" class="btn btn-sm btn-outline-primary"><span data-feather="page"></span>新增页面</a>
    </div>

</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                标题
            </th>
            <th>
                访问路径
            </th>


            <th width="160">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    
                    <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
